
.main-container-customer{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 2000px;
 padding-top: 120px;
 

}
.feedback-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    align-items: center;
}

.faq-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin-top: 20px;
    border: 10px solid blue;
}


/* .customer-care-container1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: 150px;
    border: 5px solid black;
}

.h1Text {
    text-align: center;
    color: #333;
}

.contact-info1 {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
}

.h2Text {
    color: #007bff;
}

.ulText {
    list-style-type: none;
    padding: 0;
}

.liText {
    margin-bottom: 15px;
}

.strongText {
    color: #555;
} */
