@font-face {
  font-family: 'Evers';
  src: url('./text-fonts/Evers.ttf');
}

@font-face {
  font-family: 'Akira';
  src: url('./text-fonts/Akira\ Expanded\ Demo.otf');
}

@font-face {
  font-family: 'Coffee';
  src: url('./text-fonts/kenyan\ coffee\ bd.otf');
}

@font-face {
  font-family: 'theBold';
  src: url('./text-fonts/THE\ BOLD\ FONT\ -\ FREE\ VERSION\ -\ 2023.ttf');
}

@font-face {
  font-family: 'AlteBold';
  src: url('./text-fonts/AlteHaasGroteskBold.ttf');
}

@font-face {
  font-family: 'Alte';
  src: url('./text-fonts/AlteHaasGroteskRegular.ttf');
}

body{
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  width: 5px;
}

body::-webkit-scrollbar-track{
  background-color: transparent;
}

body::-webkit-scrollbar-thumb{
  border: none;
  background-color: white;
}

/* Main layout styles */
.home-page-layout {
    min-height: 100vh;
    overflow-x: hidden;
    overflow: hidden;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.slide-in {
  transform: translateX(0); /* Slide the content in from the left to the default position */
}
.main-content-container{
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 5000px;
  background-color: #171717;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 5%;
  color: white;
}
  /* Movie card container styles */
.movie-card-container-main {
  margin-top: 50 px;
  display: flex;
  flex-direction: row;
  justify-content: center;
   width: 1500px;  
  height: auto;
  flex-wrap: wrap;
}

.slider-container{
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-bg{
    height: 960px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    z-index: -4;
}


.title-one{
  margin-top: 100px;
  font-size: 50px;
  color: white;
  font-family: Akira;
}

.sub-title{
  color: #37FD12;
  margin-top: -20px;
  font-family: theBold;
}

.other-events-container{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 1600px;  
  height: auto;
  flex-wrap: wrap;

}

.category-poster-container{
  width: 100%;
  height: 1350px;
  display: flex;
  flex-direction: row;

}

.category-container{
  margin-top: 50px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  width: 380px;
}


.category-container li{
  color: white;
  font-size: 28px;
  list-style-type: none;
  font-family: theBold;
  transition: all 0.2s;
  margin-bottom: 20px;
}

.category-container li:hover{
  color: #37FD12;
  cursor: pointer;
  font-family: theBold;
  font-size: 30px;
}

.categories{
  padding-left: 0;
  margin-left: 0;
  
}
.categories .active-category {
  color: #37FD12; /* green color when selected */
}
.other-card-container{
  margin-right: -50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.slide-out {
  transform: translateX(-50px); /* Slide out to the left */
  opacity: 0;
}

.neven{
  margin-top:170px;
  font-size: 50px;
  color: rgb(163, 175, 185);
}

.main-about-us-container{
  display: flex;
  flex-direction: column;
  width: 1900px;
  height: auto;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-top: 200px;  
  align-items: center;
  padding-bottom: 60px;
  justify-content: center;
  background-color: white;
  box-shadow: inset 0 15px 30px rgba(0, 0, 0, 0.5);
}
.about-us-title{
font-family: Akira;
font-size: 50px;
color: black;
margin-top: 50px;
margin-bottom: 30px;
}
.dev-card-container{
  display: flex;
  flex-direction: row;
  margin: 20px;
  border-radius: 10px;
  height: 600px;
}
.dev-cards{
  display: flex;
  flex-direction: column;
  margin: 20px;
  width:  350px;
  height: 550px;
  flex-wrap: wrap;
  border-radius: 10px;
 
}
.dev-image{
  width: 100%;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 10px 10px;
}


.card-contents{
  display: flex;
    flex-direction:column;
    height: auto;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    padding-bottom: 40px;
    border-radius: 0 0 10px 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-contents .dev-name{
  font-size: 25px;
  color: black;
  font-family: AlteBold;
}

.description{
  margin-top: 10px;
  color: rgb(80, 78, 78);
  font-family: AlteBold;

}

.facebook{
  height: 40px;
  width: 40px;
}

.email{
  height: 42px;
  width: 39px;
    margin-left: 10px;
    
}


.instagram{
  height: 39px;
  width: 39px;
  margin-left: 10px;
}

.social-container{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  align-items: center;
}

.instagram, .facebook, .email:hover{
  cursor: pointer;
} 

.mission-vision-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
  height: 500px;
  width: 1900px;
}

.mission-container{
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vision-container{
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission, .vision{
  color: white;
  font-size: 35px;
}

.mission-vision-container p{
  font-size: 20px;
  font-weight: 500;
}

.mission-icon, .vision-icon{
  height: 40px;
  width: 40px;
}



