.concert-details {
  padding: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.concert-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.concert-image {
  width: 200px;
  height: auto;
}

.concert-info {
  flex-grow: 1;
  margin-left: 20px;
}

.concert-description {
  margin-top: 20px;
}

.poster-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.concert-poster {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 20px 0;
}

.concert-extra-details {
  margin-top: 20px;
}

.concert-ticket-section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tickets {
  flex: 2;
}

.seat-plan {
  flex: 1;
  max-width: 400px;
  margin-left: 20px;
}

.ticket-plan-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ticket-table th,
.ticket-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.section-select {
  width: 100%;
}

.select-seats-button {
  background-color: #b0b0b0;
  color: white;
  border: none;
}

.ticket-info p {
  margin: 0;
  font-weight: bold;
}

.seat-plan-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
