

.slider-event-bg {
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the whole area */
    background-position: center; /* Centers the image */
    width: 100%;
    height: 700px;
    filter: brightness(50%);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.title-main-events {
    position: absolute;
    margin-top: 400px;
    color: white;
    font-family: Akira;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.categories-container-main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  height: 50px;
  margin-bottom: 50px;
  
}

.categories-container-main button {
  background-color: #171717;  
  border: none;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid gray;
  font-family: theBold;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.categories-container-main button.active {
  background-color: black;
  color: white;
  border-radius: 50px;
  border: 2px solid #37FD12;
}

.categories-container-main button:hover{
    border-radius: 50px;
    border: 2px solid #37FD12;
}

.main-event-container {
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 1600px;
  background-color: #171717;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 5%;
  color: white;
}

.events-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 20px;
   padding: 20px;
}

.event-card {
  transition: all 0.3s;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-card .ant-card-meta-title {
  font-weight: bold;
  font-size: 18px;
}

.event-card p {
  margin-top: 10px;
  font-size: 16px;
}

.event-card button {
  margin-top: 10px;
  width: 100%;
}

.other-card-container2{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  height: auto;
  transform: scale(1); /* Default scale (normal size) */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth zoom and fade effect */
  opacity: 1;
}


.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.slide-in {
  transform: translateX(0); /* Slide the content in from the left to the default position */
}
.neven2{

  margin-top:170px;
  font-size: 50px;
  color: rgb(163, 175, 185);
}
.trailer-title{
  font-size: 50px ;
  font-family: Akira;
  color: white;
  margin-bottom: 20px;
}
.trailer-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 850px;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 80px;
  padding-bottom: 60px;
  
  justify-content: center;
  background-color: #555555;
  box-shadow: inset 0px 10px 40px;
}