 body{
    overflow-x: hidden;
  }
  /* Main layout styles */
  .cart-page-layout {
      min-height: 100vh;
      overflow-x: hidden;
      overflow: hidden;
  }
  
  .main-content-container-cart{
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% ;
    height: auto;
    flex-wrap: wrap;
    background-color: #171717;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 5%;
    color: white;
  }
    /* Movie card container styles */
  .movie-cart-container-main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 25px 25px 0 0;
    width: 1300px;  
    height: auto;
    flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #121212;  
    padding-left: 170px;
    padding-right: 170px;
    padding-top: 100px;
    padding-bottom: 50px;
    border: 1px solid #555555;
  }
  
  .ticket-lists{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .title-one-cart{
    font-size: 50px;
    color: white;
    font-family: Akira;
    margin-top: 100px;
  }
  
  .sub-title-cart{
    color: #37FD12;
    margin-top: -20px;
    font-family: theBold;
  }

  .cart-item-container{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #222222;
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #333333;
    flex-direction: row;
    
  }

.item-image{
    width: 100%;
    max-width: 150px;
    height: 100%;
}

.main-item-details{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  padding-left: 25px;
}

.ticket-title{
  display: flex;
  margin-top: -5px;
  font-family: Akira;
  font-size: 30px;
  width: 100%;
}

.ticket-details{
  display: flex;
  flex-direction: row;
  height: 100%  ;
}

.detail-one{
  display: flex;
  justify-content: end;
  font-size: 17px;
  font-weight: 400;
  flex-direction: column;
  width: 100%;
}

.detail-one div{
  margin-bottom: 15px;
}

.detail-two{
  display: flex;
  justify-content: end;
  font-size: 17px;
  font-weight: 400;
  flex-direction: column;
  text-align: end;
  width: 100%;
}

.detail-two select{
  align-self: flex-end;
  
}

.hr{
  width: 100%;
}

.select-quantity{
  height: 35px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid gray;
  border-radius: 2px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  /* transition: all 0.2s ease-in-out; */
}

.select-quantity option{
  color: black;
}

.select-quantity:hover{
  cursor: pointer;
}

.main-cart-item{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
}

.trash-container{
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: red;
  width: 130px;
  height: 100%;
  box-shadow: inset 20px 10px 10px rgba(0, 0, 0, 0.5px);
  
}

.trash-icon{
  width: 30px;
  height: 45px;
  align-self: center;
}

.trash-container{
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: red;
  width: 130px;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  transition: all 0.2s ease-in-out;
}

.trash-container:hover{
  cursor: pointer;
  background-color: rgb(255, 112, 112);
}

.no-items{
  font-size: 30px;
  font-weight: 400;
  font-family: theBold;
}

.total-cost{
  display: flex;

  width: 100%;
  margin-top: 40px;
}

.total-cost-container{
  background-color: #37FD12;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  padding-top: 10px;
  height: 70px;
  width: 1300px;
  border-radius: 0 0 25px 25px;
  margin-bottom: 100px;
  font-size: 30px;
  font-family: Akira;
  text-shadow: 0px 0.5px 1px black;
  transition: all 0.1s ease-in-out;
  border: 1px solid gray;
  border-top: 0px;
}

.total-cost-container:hover{
  background-color: #84ff6e;
  cursor: pointer;
}

.price-container{
  background-color: #333333;
  padding-left: 30px;
  padding-right: 30px;

  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.instructions{
  display: flex;
  flex-direction: column;
  width: 610px;
}

.instructions ol{
  margin: 0;
  padding-left: 0;
  padding-right: 30px;
  margin-left: 10px;
}

.instructions li{
  color: rgb(155, 155, 155);
  font-size: 13px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 600;
}

.modal-cart-item {
  margin-bottom: 16px; /* Add space between each item */
}

.modal-cart-item p {
  margin: 4px 0; /* Add top and bottom margin for each paragraph */
}

.modal-total-cost {
  margin-top: 20px; /* Space above the total cost section */
  margin-bottom: 16px; /* Space below the total cost section */
  font-weight: bold; /* Optional: make it bold for emphasis */
}

.modal-total-cost h3 {
  margin: 0; /* Remove default margin from h3 */
}
