.footer-container{
    background-color: #252525;
    width: 100%;
    height: 500px;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    bottom: 0;
    flex-wrap: wrap;

}

.footer-details-container{
    display: flex;
    flex-direction: row;   
    justify-content: center; 
    width: 100%;
    height: 100%;
}

.about-us-container{
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: #999999;
    font-size: 18px;
}

.customer-care-container{
    width: 250px;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: #999999;
    font-size: 18px;
}

.partnerships-container{
    width: 250px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: #999999;
    font-size: 18px;
}

.ticket-outlets-container{
    width: 250px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color: #999999;
    font-size: 18px;
}

.footer-title{  
    font-size: 18px;
    color: white;
    font-family: Akira;
}

.about-us-container div{
    padding-top: 10px;
}
.customer-care-container div{
    padding-top: 10px;
}

.partnerships-container div{
    padding-top: 10px;
}

.ticket-outlets-container div{
    padding-top: 10px;
}

.links {
    color: rgb(167, 164, 164);
}

.customer-care-title {
    font-family: Akira;
    color: white;
    font-size: 18px;
}

.customer-care-title:hover {
    color: #5fa0e6; /* Change this to the desired hover color */
}

.about-us-title {
    font-family: Akira;
    color: white;
    font-size: 18px;
}

.about-us-title:hover {
    color: #5fa0e6; /* Change this to the desired hover color */
}