.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171717;
  padding: 20px 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-bottom: 0.5px solid #37FD12;
  color: white;
}

.header-logo {
  font-size: 35px;
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.ticket-logo{
  color: #37FD12;
}

.btn-container{
  display: flex;
  flex-direction: row;
}

button{
  color: white;
  font-size: 17px;
  background: none;
  border: 0px;
  font-weight: bolder;
  margin-right: 40px;
  transition: all 0.1s ease-in-out;
  font-family: theBold;
}

input{
  height: 45px;
  width: 250px;
  border-radius: 50px 0px 0px 50px;
  padding: 1px 20px;
  background-color: #1b1010;
  border: none;
  color: white;
  font-size: 15px;
  outline: none;
  
}

.search-btn{
  height: 45px;
  background-color: #008000;
  width: 45px;
  border-radius: 0px 50px 50px 0px;
  border-left: 1px solid #171717;
  padding: 12px 12px;
  cursor: pointer;
  color: white;
}

.cart-icon{
  color: white;
  font-size: 30px;
  margin-left: 40px;
  cursor: pointer;
}

.profile-btn{
  height: 35px;
  width: 35px;
  margin-left: 40px;
  align-self: center;
  color: white;
  cursor: pointer;
}

button:hover{
  color: #37FD12;
  transform: scale(1.1);
  cursor: pointer;
}

