.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #171717;
  padding: 20px 150px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 120px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-bottom: 0.5px solid #37FD12;
  color: white;
}

.header-logo {
  font-size: 35px;
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}

.ticket-logo{
  color: #37FD12;
}

.btn-container{
  display: flex;
  flex-direction: row;
}

.btn-container button{
  color: white;
  font-size: 17px;
  background: none;
  border: 0px;
  font-weight: bolder;
  margin-right: 40px;
  transition: all 0.1s ease-in-out;
  font-family: theBold;
}

input{
  height: 45px;
  width: 250px;
  border-radius: 50px 0px 0px 50px;
  padding: 1px 20px;
  background-color: #1b1010;
  border: none;
  color: white;
  font-size: 15px;
  outline: none;
  
}

.search-btn{
  height: 45px;
  background-color: #008000;
  width: 45px;
  border-radius: 0px 50px 50px 0px;
  border-left: 1px solid #171717;
  padding: 12px 12px;
  cursor: pointer;
  color: white;
}

.cart-icon{
  color: white;
  font-size: 30px;
  margin-left: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-left: 9px;
  
  height: 50px;
  width: 50px;
  border-radius: 40px;
}
.cart-icon:hover{
  background-color: #313131;
  height: 50px;
  width: 50px;
  border-radius: 40px;
}


.profile-btn{
  height: 35px;
  width: 35px;
  margin-left: 40px;
  align-self: center;
  color: white;
  cursor: pointer;
}

.btn-container button:hover{
  color: #37FD12;
  transform: scale(1.1);
  cursor: pointer;
}

.search-bar{
  color: white;
  background-color: #101010;
}

.username-display {
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  color: white; /* Adjust this color as needed */
  margin-top: 12px;
  margin-left: 20px;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center spinner and text */
}

.loading-text {
  color: #ffffff; /* White text for contrast */
  font-size: 1.5rem; /* Larger font size for better visibility */
  margin-top: 15px; /* Space between spinner and text */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 1); /* Pure black background */
  z-index: 1000; /* Ensure it's on top of everything */
  opacity: 1; /* Fully visible */
  transition: opacity 0.6s ease; /* Match this duration with JavaScript */
}

.fade-out {
  opacity: 0; /* Invisible when fading out */
}
