
.movie-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 400px;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px; 
  background-color: rgba(0, 0, 0, 0);
  margin-top: 80px;
}

.card-posters{
  padding-left: 60px;
  padding-right: 60px;
  height: auto;
  max-width: 100%;
  border: none;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0)
}

.details{
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: AlteBold ;
  margin-bottom: 2px;
}

.deet-date{
  color: gray;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.deet-venue{
  color: rgb(255, 100, 39);
  border: 0.5px solid white;
  text-wrap: wrap;
}

.card-posters:hover{
  border: 1px solid gray;
  cursor: pointer;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5); /* Inner shadow */
  background-color: rgba(0, 0, 0, 0.5);
}


