.search-result-container {
    margin-top: 10px; /* Adds some spacing above the results */
}

.loading-message,
.error-message,
.no-results-message {
    text-align: center; /* Center text for messages */
    font-size: 1.2em;
    color: #888; /* Gray color for messages */
}

.search-result-item {
    display: flex; /* Align items horizontally */
    align-items: center; /* Center vertically */
    margin-bottom: 15px; /* Space between results */
}

.search-result-info {
    margin-left: 10px; /* Space between image and text */
}

img {
    width: 100px; /* Set a fixed width for images */
    height: auto; /* Keep aspect ratio */
    border-radius: 5px; /* Optional: rounded corners for images */
}

.custom-modal .modal-content-container {
    display: flex;
    gap: 20px;
}

.modal-image-container img {
    max-width: 200px;
    border-radius: 8px;
}

.modal-details-container {
    display: flex;
    flex-direction: column;
}

.item-title {
    font-size: 24px;
    font-weight: bold;
}
