.sidebar-container {
    padding: 20px;
    background-color: #2a2a2a;
    color: #ffd700;
  }
  
  .sidebar-heading {
    margin-bottom: 10px;
  }
  
  .sidebar-checkbox-group, .sidebar-radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .sidebar-checkbox, .sidebar-radio {
    color: #ffd700;
  }
  
  .sidebar-button {
    width: 100%;
    background-color: #ffbd59;
    border-color: #ffbd59;
    color: #1b1b1b;
  }
  