/* Carousel styling */
.upcoming-movie-carousel {
  width: 100%;
  height: 100%;
}

/* Slide container with background image */
.upcoming-movie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 500px;
  width: 100%;
  padding: 20px;
  position: relative;
  background-color: #000; /* Fallback background color */
  color: #fff; /* Ensure text is visible on dark backgrounds */
  background-size: cover; /* Ensure the background image covers the entire container */
  background-position: center;
  background-repeat: no-repeat;
}

/* Movie poster styling */
.upcoming-movie-poster {
  flex: 1;
  display: flex;
  justify-content: center;
}

.upcoming-movie-image {
  max-width: 300px;
  max-height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Movie info styling */
.upcoming-movie-info {
  flex: 1.5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: white; /* Ensure that text is readable against background images */
}

.upcoming-movie-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.upcoming-movie-director, 
.upcoming-movie-dates {
  font-size: 16px;
  margin-bottom: 5px;
}

.upcoming-movie-buttons {
  margin-top: 20px;
}

.upcoming-movie-button-primary {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.upcoming-movie-button-primary:hover {
  background-color: #ff7875;
  border-color: #ff7875;
}

.upcoming-movie-carousel-container {
  position: relative;
  width: 100%;
}

/* Left Arrow */
.carousel-left-button {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* Right Arrow */
.carousel-right-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-left-button:hover, .carousel-right-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



