.movie-card {
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    text-align: center;
    background-color: white;
  }
  
  .movie-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .movie-title {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .movie-release-date, .movie-genre {
    font-size: 14px;
    color: #888;
  }
  