body{
  background-color: #121212;  
}
.main-container-user-account{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  justify-content: center;
  height: 980px;

}

.user-profile-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 700px;
  margin-top: 150px;
  background-color: #121212;
  border-radius: 20px;
}

.main-container-signup{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #121212;
  justify-content: center;
  padding-bottom: 20px;
  border: 2px solid black;

}

.sidebar {
  width: 400px;
  height: 100%;
  padding: 20px;
  padding-right: 40px;
  background-color: #121212;  
  border-radius: 20px 0px 0px 20px;
}

.sidebar ul {
  list-style-type: none;
  margin-top: 50px;
}

.sidebar ul li {
  color: white;
  font-family: theBold;
  margin-bottom: 20px;
  font-size: 20px;
  height: 50px;
  padding-left: 13px;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  transition: all 0.2s ease-in-out;
}

.sidebar ul li:hover{
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  cursor: pointer;
}

.profile-details {
  width: 100%;
  padding: 30px;
  background-color: rgb(245, 245, 245);
  border-radius: 0px 25px 25px 0px;
  box-shadow: rgba(0,0,0,0.5);
}

.profile-details h2 {
  margin-bottom: 30px;
}

.account-info {
  margin-bottom: 40px;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group label {
  margin-bottom: 8px;
  font-weight: bold;
}

.input-group input {
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;

}

.change-link {
  margin-top: 5px;
  font-size: 12px;
  color: #2cb1ba;
  cursor: pointer;
  align-self: flex-start;
}

.password-section .input-group {
  width: 350px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.edit-btn, .save-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: #171717;
  border: 1px solid #37fd12;
  color: white;
  font-family: theBold;
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
}


.cancel-btn{
  border: none;
  font-size: 16px;
  background-color: rgba(0,0,0,0);
  font-family: theBold;
  margin-right: 30px;
  border-radius: 5px;
  padding: 12px 24px;
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
}

.cancel-btn:hover{
  cursor: pointer;
  background-color: #c7c7c7;
}

.save-btn:hover{
  background-color: #37fd12;
  color: black;
}

.edit-btn:hover {
  background-color: #37fd12;
  color: black;
}

.profile-title{
  color: white;
  font-family: Akira;
  font-size: 30px;
  margin-left: 20px;
}       

.input-info-profile{
  color: black;
  background-color: rgb(245, 245, 245);;
  border-radius: 30px;
}

.account-info input{
  width: 350px;
}

.sidebar-button-list{
  margin-left: -35px;
}